<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
  </runtime>
  <appSettings>
    <add key="isLive" value="true" />
<!--	  <add key="ConString" value="Data Source=localhost,1433;Initial Catalog=GameOfRevenge;Persist Security Info=True;User ID=developer;Password=developer" /> -->
        <add key="ConString" value="Data Source=.\SQLEXPRESS;Initial Catalog=GameOfRevenge;Trusted_Connection=True" />
    <add key="dbName" value="MmoDb" />
	  <add key="DefaultWorldCode" value="AADSPX" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>