<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\GameOfRevenge.WebServer.dll" 
		stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
    </system.webServer>
<!--
<connectionStrings>
<add name="DefaultConnection" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=GameOfRevenge;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
-->
  </location>
</configuration>